.about-company {
	.about__name {
		top: 0;
	}
	.about {
		margin-left: 50px;
	}
	.container {
		padding-top: 75px;
		@include clearfix;
	}
	padding-bottom: 110px;
}

.about__title {
	font-family: 'AlergiaWideExtraLight';
}

.about-company__pict {
	opacity: 0;
	transition: all 3s;
	margin-top: -65px;
	float: right;
	width: 620px;
	@include calcWidth(620px);
	img {
		width: 100%;
	}
	&.animate {
		opacity: 1;
	}
}

.about-kand__popup, .about-company__popup, .about-company__popup-3 {
	max-width:  $mainWidth;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	display: none;
}
.mfp-wrap {
	.about-kand__popup, .about-company__popup, .about-company__popup-3 {
		display: block;
	}
}
.about-kand__popup_inner {
	border: 1px solid #e6e6e6;
	padding: 85px 90px 80px;
	opacity: 0;
	transition: 1s all;
	&.vissible {
		opacity: 1;
		.about-kand__popup_pict, .about-kand__popup_text {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.about-kand__popup_pict {
	transform: translateX(-20px);
	width: 220px;
	transition: 1s all;
	opacity: 0;
	display: inline-block;
	vertical-align: top;
	@include calcWidth(220px);
	img {
		width: 100%;
	}
}

.about-kand__popup_text {
	transform: translateX(20px);
	transition: 1s all;
	position: relative;
	display: inline-block;
	@include calcWidth(880px);
	padding-left: 50px;
	opacity: 0;
	vertical-align: top;

	.about__name {
		left: -100px;
		top: 75px;
	}
	.about__text {
		width: 100%;
		max-width: none;
		max-height: 240px;
		overflow: auto;
	}
}